
section {
    width: 70%;
    margin: auto ;
    padding: 20px;
    align-items: center;
}

.heading {
    font-size: 13pt;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 400;
}

.textSmall {
    font-size: 10pt;
    font-family: Arial, Helvetica, sans-serif;
    color: gray;
    font-weight: 300;
}

.textSmalla {
    font-size: 10pt;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: underline;
    color: gray;
    font-weight: 300;
}

#searchBox {
    width: 100%;
    border: 1px solid lightgray;
    border-radius: 2px;
    height: 48px;
    font-size: 24px;
    padding: 10px;
    margin: 10px 0;
    line-height: 1.5;
}
.searchdiv {
    display: inline-block;
    width: 90%;
    margin-right: 10px;
}

.BtnSummit {
    display: inline-block;
}

#summit {
    background-color: green;
    padding: 10px;
    border-radius: 4px;
    color: azure;
    font-weight: 300;
    font-size: 22px;
}

hr {
width: 96%;
 margin: 8px 0;
 color: lightgray;
}

.list-group {
    display: flex;
    flex-direction: column;
    border-radius: 3px;
}