
section {
    width: 80%;
    margin: auto ;
    padding: 20px;
    align-items: center;
}

.row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.heading {
    font-size: 14pt;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 400;
}

.textSmall {
    font-size: 10pt;
    font-family: Arial, Helvetica, sans-serif;
    color: gray;
    font-weight: 300;
}

.textSmaller {
    font-size: 10pt;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: underline;
    color: gray;
    font-weight: 300;
}

#searchBox {
    width: 100%;
    border: 1px solid lightgray;
    border-radius: 2px;
    height: 48px;
    font-size: 24px;
    padding: 10px;
    margin: 10px 0;
    line-height: 1.5;
}
.searching {
    display: inline-block;
    width: 95%;
    margin-right: 10px;
}

.BtnSummit {
    display: inline-block;
}

#submission {
    background-color: green;
    padding: 10px;
    border-radius: 4px;
    color: azure;
    font-weight: 300;
    font-size: 22px;
    cursor: pointer;
}

hr {
width: 100%;
 margin: 8px 0;
 color: lightgray;
}

.list-group {
    display: flex;
    flex-direction: column;
    
}

.list-group-item {
    display: block;
    position: relative;
    border: 1px solid lightgray;
    background-color: white;
    color: black;
    padding: 10px;

}

.s1 {
    font-size: 18pt;
    font-weight: 500;
}

.textSmall2 {
    font-size: 12pt;
    color: gray;
}

.availableAmount {
    font-size: 14pt;
    color: rgb(209, 140, 12);
    font-weight: 400;
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 20px;
}

.fa-bicycle::before {
    content: "\f206";
    font-weight: 800;
    font-family: "Font Awesome 5 Free";
    margin-right: 10px;
}
